.container {
  border: 1px solid black;
  width: 360px;
  height: 360px;
}
.row {
  display: flex;
}
.box {
  height: 60px;
  width: 60px;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
